p {
    text-align: justify;
}
ol {
    text-align: justify;
}
ol {
    counter-reset: list;
}
ol > li {
    counter-increment: list;
}

/* Hack to get the intendation in Paragraph 9 of Inf Bsc 2014 correct*/
ol > li .offset2 {
    counter-increment: list +2;
}

ol > li::marker {
    content: "(" counter(list) ") ";
}
li ol > li::marker {
    content: counter(list) ". ";
}
li li ol > li::marker {
    content: counter(list, lower-alpha) ") ";
}
li li li ol > li::marker {
    content: counter(list, lower-alpha) counter(list, lower-alpha) ") ";
}


article > li ul li::marker {
    content: "– ";
}

li ul li::marker {
    content: circle;
}


.toc *::marker {
    content: " "
}
.toc ul li:nth-child(1) {
    color: red;
}
.toc ul li ul {
}
h1 a {
    color: unset;
}
h2 a {
    color: unset;
}

div.wy-table-responsive {
    overflow: visible !important;
}

.wy-table-responsive thead,tbody {
    background: #fff !important;
}

.wy-table-responsive th {
    white-space: normal !important;
}

.wy-table-responsive td {
    white-space: normal !important;
}

table.docutils {
    overflow: visible !important;
}

code del.critic {
    color: black;
    background: #ff8080;
}
code ins.critic {
    color: black;
    background: #80ff80;
}

.md-grid {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}
@media screen and (min-width: 1400px) {
    .md-sidebar {
      width: 400px;
    }
}

p.open-github-issue {
    display: inline;
    float: right;
}

p.prev-next-nav {
    color: green;
    display: flow-root;
/*    position: relative;*/
}
p.prev-next-nav a.prev {
    float: left;
}
p.prev-next-nav a.next {
    float: right;
}

#moduledesc {
    overflow: visible !important;
}
tr.moduledesc_head {
    background: lightgray;
}
.moduledesc_head th {
    text-align: center !important;
}

#moduledesc .md-typeset__table {
    margin: 0px;
    padding: 0px;
    display: unset;
}
#moduledesc .md-typeset__scrollwrap {
    margin: 0px;
    padding: 0px;
}
.moduledesc_tutable tr {
    display: block;
}

.moduledesc_tutable > td {
    padding: 0px !important;
}
.moduledesc_tutable table {
    border: 0px !important;
    display: block !important;
}
.aufwand_table {
    border: 0px;
    width: unset !important;
}
.aufwand_table td {
    border: 0px !important;
    padding: 0.2em !important;
    padding-right: 1em !important;
}
