# Original

Dies ist eine inoffizielle Kopie der Studien- und Prüfungsordnung des Mathematik
Masters an der FU-Berlin. Das Original ist hier zu finden:
[StO/PO 2018 (Master, 00280)](https://www.imp.fu-berlin.de/fbv/pruefungsbuero/Studien--und-Pruefungsordnungen/STOPO_MSc_-Mathe-2018.pdf).

# Modifikation

Bei der Digitalisierung wurden viele kleinere Anpassungen gemacht. Folgende
Abweichungen sind bekannt:
{{> template/modification.md}}
