# Original

Dies ist eine inoffizielle Kopie der Studien- und Prüfungsordnung des Informatik
Bachelors an der FU-Berlin. Das Original ist hier zu finden:
[StO/PO 2023 (Bachelor)](https://www.imp.fu-berlin.de/fbv/pruefungsbuero/Studien--und-Pruefungsordnungen/StOPO_BSc_Inf_-2023.pdf).

# Modifikation

Bei der Digitalisierung wurden viele kleinere Anpassungen gemacht. Folgende
Abweichungen sind bekannt:

- Anlage 3-4: nicht im Markdown übernommen
- Seite 4: In der Auflistung wurde ein 'und' mit einem Komma ersetzt:
    - `- Modul: Rechnerarchitektur (6 LP){-- und--}{++,++}`
- Seite 4: Punkt mit Komma ersetzt:
    - `- Modul: Betriebs- und Kommunikationssysteme (6 LP){--.--}{++,++}`
- Seite 4: Modul falsch benannt:
    - `Modul: Aktuelle {--Forschungst--}{++T++}hemen in der Informatik] (6 LP),`
- Seite 8: Falsche Anlagen werden referenziert:
    - `Die Studierenden erhalten ein Zeugnis und eine Urkunde (Anlagen {--2--}{++3++} und {--3--}{++4++})`
{{> template/modification.md}}
